extends layout

block content
  div.row
    div.col-md-12
        p.lead These are all of #{username}'s 
            span.color-karma Karma
            | , 
            span.color-comments Comments 
            | and 
            span.color-submissions Submissions 
            | stats I found.
  div.row
    div.col-md-12
      h5 Karma last 30 days
      canvas#canvas-karma(width="1000px", height="400")

      h5 Comments last 30 days
      canvas#canvas-comment(width="1000px", height="400")

      h5 Submissions last 30 days
      canvas#canvas-submission(width="1000px", height="400")

  script(type='text/javascript').
    var lineChartDataKarma = {
            labels : [#{data.labelsKarma}],
            datasets : [
                {
                    fillColor : "rgba(253, 181, 83, 1.0000)",
                    strokeColor : "rgba(220,220,220,1)",
                    pointColor : "rgba(220,220,220,1)",
                    pointStrokeColor : "#fff",
                    data : [#{data.dataKarma}]
                },
                {
                    fillColor : "rgba(62, 191, 190, 1.0000)",
                    strokeColor : "rgba(151,187,205,1)",
                    pointColor : "rgba(151,187,205,1)",
                    pointStrokeColor : "#fff",
                    data : [#{data.dataComment}]
                }, 
                {
                    fillColor : "rgba(247, 70, 74, 1.0000)",
                    strokeColor : "rgba(220,220,220,1)",
                    pointColor : "rgba(220,220,220,1)",
                    pointStrokeColor : "#fff",
                    data : [#{data.dataSubmission}]
                }
            ] 
        }

    var myKarmaCommentSubmission = new Chart(document.getElementById("canvas-karma").getContext("2d")).Line(lineChartDataKarma);

    var lineChartDataComments = {
            labels : [#{data.labelsComment}],
            datasets : [
                {
                    fillColor : "rgba(220,220,220,0.5)",
                    strokeColor : "rgba(220,220,220,1)",
                    pointColor : "rgba(220,220,220,1)",
                    pointStrokeColor : "#fff",
                    data : [#{data.dataComment}]
                }
            ] 
        }

    var myComment = new Chart(document.getElementById("canvas-comment").getContext("2d")).Line(lineChartDataComments);

    var lineChartDataSubmission = {
            labels : [#{data.labelsSubmission}],
            datasets : [
                {
                    fillColor : "rgba(220,220,220,0.5)",
                    strokeColor : "rgba(220,220,220,1)",
                    pointColor : "rgba(220,220,220,1)",
                    pointStrokeColor : "#fff",
                    data : [#{data.dataSubmission}]
                }
            ] 
        }

    var mySubmission = new Chart(document.getElementById("canvas-submission").getContext("2d")).Line(lineChartDataSubmission);
    
  
