extends layout

block prepend head
    link(rel='stylesheet', href='/stylesheets/custom-dark.css')

block content
  div.row
    div.col-md-12
        p.lead These are all of #{username}'s 
            span.color-karma Karma
            | , 
            span.color-comments Comments 
            | and 
            span.color-submissions Submissions 
            | stats on file.

    div.col-md-12
        div(class="bs-callout bs-callout-warning")
            p If there are discrepancies it's because Algolia (The source for these stats) is updating the values every time there's a new post or submission from that user and we are fetching new values from their API every 24h.
  div.row
    div.col-md-12
      h5 Karma last 30 days
      canvas#canvas-karma(width="1000px", height="400")

      h5 Comments last 30 days
      canvas#canvas-comment(width="1000px", height="400")

      h5 Submissions last 30 days
      canvas#canvas-submission(width="1000px", height="400")

      h5 Submissions and Comments last 30 days
      canvas#canvas-submissioncomment(width="1000px", height="400")

  script(type='text/javascript').
    var lineChartDataKarma = {
            labels : [#{data.labelsKarma}],
            datasets : [
                {
                    fillColor : "rgba(253, 181, 83, 1.0000)",
                    strokeColor : "rgba(220,220,220,1)",
                    pointColor : "rgba(220,220,220,1)",
                    pointStrokeColor : "#fff",
                    data : [#{data.dataKarma}]
                }
            ] 
        }

    var myKarma = new Chart(document.getElementById("canvas-karma").getContext("2d")).Line(lineChartDataKarma, { scaleFontColor : "rgba(255, 255, 255, 1.0000)", scaleGridLineColor : "rgba(149, 149, 149, 1.0000)", scaleGridLineWidth : 0.5 } );

    var lineChartDataComments = {
            labels : [#{data.labelsComment}],
            datasets : [
                {
                    fillColor : "rgba(62, 191, 190, 1.0000)",
                    strokeColor : "rgba(220,220,220,1)",
                    pointColor : "rgba(220,220,220,1)",
                    pointStrokeColor : "#fff",
                    data : [#{data.dataComment}]
                }
            ] 
        }

    var myComment = new Chart(document.getElementById("canvas-comment").getContext("2d")).Line(lineChartDataComments, { scaleFontColor : "rgba(255, 255, 255, 1.0000)" , scaleGridLineColor : "rgba(149, 149, 149, 1.0000)", scaleGridLineWidth : 0.5 } );

    var lineChartDataSubmission = {
            labels : [#{data.labelsSubmission}],
            datasets : [
                {
                    fillColor : "rgba(247, 70, 74, 1.0000)",
                    strokeColor : "rgba(220,220,220,1)",
                    pointColor : "rgba(220,220,220,1)",
                    pointStrokeColor : "#fff",
                    data : [#{data.dataSubmission}]
                }
            ] 
        }

    var mySubmission = new Chart(document.getElementById("canvas-submission").getContext("2d")).Line(lineChartDataSubmission, { scaleFontColor : "rgba(255, 255, 255, 1.0000)" , scaleGridLineColor : "rgba(149, 149, 149, 1.0000)", scaleGridLineWidth : 0.5 } );

    var lineChartDataSubmissionComment = {
        labels : [#{data.labelsSubmission}],
        datasets : [
            {
                fillColor : "rgba(62, 191, 190, 1.0000)",
                strokeColor : "rgba(151,187,205,1)",
                pointColor : "rgba(151,187,205,1)",
                pointStrokeColor : "#fff",
                data : [#{data.dataComment}]
            }, 
            {
                fillColor : "rgba(247, 70, 74, 1.0000)",
                strokeColor : "rgba(220,220,220,1)",
                pointColor : "rgba(220,220,220,1)",
                pointStrokeColor : "#fff",
                data : [#{data.dataSubmission}]
            }
        ] 
    }

    var mySubmissionComment = new Chart(document.getElementById("canvas-submissioncomment").getContext("2d")).Line(lineChartDataSubmissionComment, { scaleFontColor : "rgba(255, 255, 255, 1.0000)" , scaleGridLineColor : "rgba(149, 149, 149, 1.0000)", scaleGridLineWidth : 0.5 } );
    
  
